<div class="form-container">

  <div class="navigation-buttons">
    <%= link_to 'Back', users_path, class: 'back-button' %>
  </div>
  <h1 class="h1">Register Form</h1>
  <%= render 'form', user: @user %>
</div>