/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  th {
    background-color: #f8f8f8;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #333;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .actions {
    display: flex;
    gap: 5px;
  }
  
  .actions a , .actions .delete-button {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #495fad;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
  }
  .actions .delete-button {
    background-color: #f9691b;
  }
  
  .actions a:hover {
    background-color: #3a4d91;
  }
  
  .register-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #5a73d0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .register-link:hover {
    background-color: #495fad;
  }



.back-button {
    display: inline-block;
    margin-bottom: 1rem;
    color: #5a73d0;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
